server/flows/flows.json
[{"id":"4afd755.1dca88c","type":"tab","label":"Flow 1"},{"id":"dcaf66ad.06fb48","type":"subflow","name":"Iterate","info":"","in":[{"x":207,"y":144,"wires":[{"id":"846773cc.99104"}]}],"out":[{"x":463,"y":122,"wires":[{"id":"846773cc.99104","port":0}]},{"x":462,"y":175,"wires":[{"id":"846773cc.99104","port":1}]}]},{"id":"f4c5c105.61839","type":"websocket-listener","z":"","path":"/ws/sensors","wholemsg":"false"},{"id":"c5d70f6b.5eaa1","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"pdw","name":""},{"id":"6716ebd0.467404","type":"inject","z":"4afd755.1dca88c","name":"","topic":"","payload":"{\"sensors\": [ {\"type\": \"temperature\", \"model\": \"fake sensor\"}, {\"type\": \"light\", \"model\": \"fake sensor\"}, {\"type\": \"gas\", \"model\": \"fake sensor\"} ]}","payloadType":"json","repeat":"2.5","crontab":"","once":false,"x":101,"y":72,"wires":[["8139bb07.b15018"]]},{"id":"52e0a3ca.b3d8ac","type":"websocket out","z":"4afd755.1dca88c","name":"","server":"f4c5c105.61839","client":"","x":1062,"y":241,"wires":[]},{"id":"d5fe29f3.af6d28","type":"websocket in","z":"4afd755.1dca88c","name":"","server":"f4c5c105.61839","client":"","x":126,"y":326,"wires":[["a949da9a.6914f8"]]},{"id":"33007946.9238d6","type":"debug","z":"4afd755.1dca88c","name":"","active":false,"console":"false","complete":"payload","x":803,"y":334,"wires":[]},{"id":"a949da9a.6914f8","type":"function","z":"4afd755.1dca88c","name":"","func":"msg.payload = JSON.parse(msg.payload);\nglobal.set('station', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":458,"y":330,"wires":[["33007946.9238d6"]]},{"id":"c47b07e9.15b368","type":"mongodb out","z":"4afd755.1dca88c","mongodb":"c5d70f6b.5eaa1","name":"","collection":"raw","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1091.5,"y":107,"wires":[]},{"id":"8139bb07.b15018","type":"function","z":"4afd755.1dca88c","name":"","func":"var station = global.get('station');\n\nmsg.payload = msg.payload.sensors;\n\nif (station) {\n    return [msg, null];\n}\nvar newMessage = {};\nnewMessage.payload = null;\nreturn [null, newMessage];","outputs":"2","noerr":0,"x":260,"y":213,"wires":[["f92d54ef.2be418"],["52e0a3ca.b3d8ac","1a2dc11c.1002cf"]]},{"id":"846773cc.99104","type":"function","z":"dcaf66ad.06fb48","name":"Iterate","func":" var currentMsg = null, outMessage = null;\n  var iState = msg.iState;\n  if (!iState) {\n     // we received an initial message\n     // if the message is not an array, make it one\n     if( Object.prototype.toString.call(msg.payload) !== '[object Array]' ) {\n           msg.payload = [msg.payload];\n     }\n     iState = {};\n     iState.index = 0;\n     iState.inArray = msg.payload;\n     iState.outArray = [];\n     msg.iState = iState\n   } else {\n    // save results from the last iteration\n     iState.outArray.push(msg.payload)\n }\n  //If there are still objects left to iterate goto the next one in the original array\n  if (iState.index < iState.inArray.length) {\n    currentMsg = msg;\n    msg.payload = iState.inArray[iState.index];\n  } else {\n    currentMsg = null;\n    outMessage = msg;\n    msg.payload = iState.outArray;\n    delete msg.iState;\n}\niState.index ++;\nreturn [currentMsg, outMessage];","outputs":"2","noerr":0,"x":342,"y":144,"wires":[[],[]]},{"id":"f92d54ef.2be418","type":"subflow:dcaf66ad.06fb48","z":"4afd755.1dca88c","name":"","x":465,"y":192,"wires":[["43245fd1.136f7"],["52e0a3ca.b3d8ac","c6fd3e89.8b32f"]]},{"id":"43245fd1.136f7","type":"function","z":"4afd755.1dca88c","name":"","func":"var station = global.get('station');\n\nif (station) {\n    msg.payload.timestamp = new Date().valueOf();\n    msg.payload.latitude = station.latitude;\n    msg.payload.longitude = station.longitude;\n    msg.payload.inside = station.inside;\n    msg.payload.value = \n        Math.floor((Math.random() * 100) + 0);\n}\nreturn msg;","outputs":1,"noerr":0,"x":463,"y":114,"wires":[["f92d54ef.2be418","e86283b9.164c9"]]},{"id":"e86283b9.164c9","type":"function","z":"4afd755.1dca88c","name":"","func":"msg.payload = {\"_data\": msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":112,"wires":[["c47b07e9.15b368"]]},{"id":"31d1dbab.8a6ca4","type":"http in","z":"4afd755.1dca88c","name":"","url":"/raw","method":"get","swaggerDoc":"","x":96,"y":555,"wires":[["a727ee80.5a905"]]},{"id":"2355c98b.9cacc6","type":"function","z":"4afd755.1dca88c","name":"","func":"msg.headers = {\n    \"Access-Control-Allow-Origin\": \"*\",\n    \"Content-type\" : \"application/json\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":786,"y":561,"wires":[["9aa53530.be6288"]]},{"id":"9aa53530.be6288","type":"http response","z":"4afd755.1dca88c","name":"","x":970.5,"y":559,"wires":[]},{"id":"1f055f2e.e35971","type":"mongodb in","z":"4afd755.1dca88c","mongodb":"c5d70f6b.5eaa1","name":"","collection":"raw","operation":"find","x":412.5,"y":558,"wires":[["a87a495d.902538"]]},{"id":"a727ee80.5a905","type":"function","z":"4afd755.1dca88c","name":"","func":"var newMsg = {};\n// msg.req.query\nnewMsg.payload = {\n    $and: [\n        {\"_data.latitude\": parseFloat(msg.req.query.latitude)},\n        {\"_data.longitude\": parseFloat(msg.req.query.longitude)},\n        {\"_data.inside\": JSON.parse(msg.req.query.inside)}\n    ]\n};\nnewMsg.sort = {\"_data.timestamp\": -1};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\nnewMsg.limit = 200;\nnewMsg.skip = 0;\nreturn newMsg;","outputs":1,"noerr":0,"x":229,"y":556,"wires":[["1f055f2e.e35971"]]},{"id":"a87a495d.902538","type":"subflow:dcaf66ad.06fb48","z":"4afd755.1dca88c","name":"","x":624,"y":557,"wires":[["5542fb97.ae17d4"],["2355c98b.9cacc6"]]},{"id":"5542fb97.ae17d4","type":"function","z":"4afd755.1dca88c","name":"","func":"msg.payload = msg.payload._data;\ndelete msg.payload.id;\nreturn msg;","outputs":1,"noerr":0,"x":626,"y":484,"wires":[["a87a495d.902538"]]},{"id":"c6fd3e89.8b32f","type":"debug","z":"4afd755.1dca88c","name":"","active":false,"console":"false","complete":"false","x":1047,"y":184,"wires":[]},{"id":"1a2dc11c.1002cf","type":"debug","z":"4afd755.1dca88c","name":"","active":false,"console":"false","complete":"false","x":1046,"y":301,"wires":[]},{"id":"454a43fe.67fa0c","type":"http in","z":"4afd755.1dca88c","name":"","url":"/snapshot","method":"post","swaggerDoc":"","x":115,"y":663,"wires":[["a2a93b28.0ed3f8"]]},{"id":"a2a93b28.0ed3f8","type":"function","z":"4afd755.1dca88c","name":"","func":"//msg.payload = {\"_data\": msg.req.body};\nvar newMsg = {};\nnewMsg.temp = msg.req.body;\nnewMsg.payload = {\n    $and: [\n        {\"_data.latitude\": parseFloat(msg.req.body.latitude)},\n        {\"_data.longitude\": parseFloat(msg.req.body.longitude)},\n        {\"_data.timestamp\": parseInt(msg.req.body.timestamp)}\n    ]\n};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\nreturn newMsg;","outputs":1,"noerr":0,"x":294,"y":663,"wires":[["4cf421c2.91e4f","33c920f6.bbb7b"]]},{"id":"ed9101e0.51e3c","type":"http response","z":"4afd755.1dca88c","name":"","x":1180,"y":747,"wires":[]},{"id":"a4842d04.c9005","type":"mongodb out","z":"4afd755.1dca88c","mongodb":"c5d70f6b.5eaa1","name":"","collection":"snapshot","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":1097.5,"y":628,"wires":[]},{"id":"4cf421c2.91e4f","type":"mongodb in","z":"4afd755.1dca88c","mongodb":"c5d70f6b.5eaa1","name":"","collection":"snapshot","operation":"count","x":516.5,"y":664,"wires":[["b5ea77a9.9f0b38"]]},{"id":"b5ea77a9.9f0b38","type":"switch","z":"4afd755.1dca88c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"gt","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":730.5,"y":663,"wires":[["64a1a356.0d4a3c"],["f0ab3ae.34e51c8"]]},{"id":"64a1a356.0d4a3c","type":"function","z":"4afd755.1dca88c","name":"","func":"msg.payload = {\"_data\": msg.temp};\nreturn msg;","outputs":1,"noerr":0,"x":887,"y":636,"wires":[["a4842d04.c9005"]]},{"id":"1909fd25.376bd3","type":"mongodb out","z":"4afd755.1dca88c","mongodb":"c5d70f6b.5eaa1","name":"","collection":"snapshot","payonly":true,"upsert":false,"multi":false,"operation":"update","x":1100,"y":690,"wires":[]},{"id":"f0ab3ae.34e51c8","type":"function","z":"4afd755.1dca88c","name":"","func":"msg.query = {\n    $and: [\n        {\"_data.latitude\": parseFloat(msg.temp.latitude)},\n        {\"_data.longitude\": parseFloat(msg.temp.longitude)},\n        {\"_data.timestamp\": parseInt(msg.temp.timestamp)}\n    ]\n};\n\n//msg.payload = msg.temp;\nmsg.payload = {\"_data\": msg.temp};\nreturn msg;","outputs":1,"noerr":0,"x":888,"y":686,"wires":[["1909fd25.376bd3"]]},{"id":"33c920f6.bbb7b","type":"function","z":"4afd755.1dca88c","name":"","func":"msg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":775,"y":738,"wires":[["ed9101e0.51e3c"]]},{"id":"e1ef8a70.fbc9d8","type":"http in","z":"4afd755.1dca88c","name":"","url":"/snapshot","method":"get","swaggerDoc":"","x":120,"y":898,"wires":[["149fc386.6c5b7c"]]},{"id":"149fc386.6c5b7c","type":"function","z":"4afd755.1dca88c","name":"","func":"var newMsg = {};\n// msg.req.query\nnewMsg.payload = {\n    $and: [\n        {\"_data.latitude\": parseFloat(msg.req.query.latitude)},\n        {\"_data.longitude\": parseFloat(msg.req.query.longitude)}\n    ]\n};\nnewMsg.sort = {\"_data.timestamp\": -1};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\nnewMsg.limit = 400;\nnewMsg.skip = 0;\nreturn newMsg;","outputs":1,"noerr":0,"x":301,"y":899,"wires":[["ec1e257c.a48388"]]},{"id":"ec1e257c.a48388","type":"mongodb in","z":"4afd755.1dca88c","mongodb":"c5d70f6b.5eaa1","name":"","collection":"snapshot","operation":"find","x":542,"y":899,"wires":[["b4ab5040.15de6"]]},{"id":"b4ab5040.15de6","type":"subflow:dcaf66ad.06fb48","z":"4afd755.1dca88c","name":"","x":818,"y":899,"wires":[["598de1a6.005a2"],["913529e9.3dd728"]]},{"id":"598de1a6.005a2","type":"function","z":"4afd755.1dca88c","name":"","func":"msg.payload = msg.payload._data;\ndelete msg.payload.id;\nreturn msg;","outputs":1,"noerr":0,"x":819,"y":823,"wires":[["b4ab5040.15de6"]]},{"id":"913529e9.3dd728","type":"function","z":"4afd755.1dca88c","name":"","func":"msg.headers = {\n    \"Access-Control-Allow-Origin\": \"*\",\n    \"Content-type\" : \"application/json\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":983,"y":901,"wires":[["1f8b25ab.0a2c8a"]]},{"id":"1f8b25ab.0a2c8a","type":"http response","z":"4afd755.1dca88c","name":"","x":1171.5,"y":902,"wires":[]},{"id":"59c52763.afb578","type":"http in","z":"4afd755.1dca88c","name":"","url":"/snapshot","method":"delete","swaggerDoc":"","x":127,"y":1031,"wires":[["fa380376.74d0b","63267a71.854e54"]]},{"id":"fa380376.74d0b","type":"function","z":"4afd755.1dca88c","name":"","func":"//msg.payload = {\"_data\": msg.req.body};\nvar newMsg = {};\nnewMsg.payload = {\n    $and: [\n        {\"_data.latitude\": parseFloat(msg.req.query.latitude)},\n        {\"_data.longitude\": parseFloat(msg.req.query.longitude)},\n        {\"_data.timestamp\": parseInt(msg.req.query.timestamp)}\n    ]\n};\nnewMsg.req = msg.req;\nnewMsg.res = msg.res;\nreturn newMsg;","outputs":1,"noerr":0,"x":308,"y":1027,"wires":[["44f829b8.3e3fd8","538527fb.42cb38"]]},{"id":"41644141.64652","type":"http response","z":"4afd755.1dca88c","name":"","x":1174,"y":1084,"wires":[]},{"id":"538527fb.42cb38","type":"mongodb out","z":"4afd755.1dca88c","mongodb":"c5d70f6b.5eaa1","name":"","collection":"snapshot","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":545.5,"y":1026,"wires":[]},{"id":"44f829b8.3e3fd8","type":"function","z":"4afd755.1dca88c","name":"","func":"msg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":466,"y":1079,"wires":[["41644141.64652"]]},{"id":"f249b8f5.2a6228","type":"debug","z":"4afd755.1dca88c","name":"","active":true,"console":"true","complete":"payload","x":609,"y":1167,"wires":[]},{"id":"63267a71.854e54","type":"function","z":"4afd755.1dca88c","name":"","func":"msg.payload = msg.req.query;\nreturn msg;","outputs":1,"noerr":0,"x":334,"y":1166,"wires":[["f249b8f5.2a6228"]]}]